* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFFFF0;
}

.menu {
    background-color: #2f9e41;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2f9e41;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 120px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFF0;
}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.icon-box {
    width: 200px;
    height: 200px;
    border: 2px solid #fbf7f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.icon-box:hover {
    background-color: #eee;
}

.icon-box.selected {
    background-color: #333;
    color: #fff;
}

.icon-box p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
h1{
    color: #2f9e41
}




/* RESPONSIVO */
@media (max-width: 768px) {
    .menu a {
        display: block;
        margin: 10px 0;
        font-size: 16px;
    }

    .icon-grid {
        flex-direction: column;
        align-items: center;
    }

    .icon-box {
        width: 150px;
        height: 150px;
    }

    .icon-box p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .menu {
        padding: 20px;
    }

    .menu a {
        font-size: 14px;
    }

    .content h1 {
        font-size: 22px;
    }

    .content h2 {
        font-size: 16px;
    }

    .icon-box {
        width: 120px;
        height: 120px;
    }

    .icon-box img {
        width: 30px;
        height: 30px;
    }

    .icon-box p {
        font-size: 12px;
    }
}

.content {
    margin-top: 130px; /* Ajuste conforme a altura do menu */
}