
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        body {
            background-color:#FFFFF0		;
        }
        .menu {
            background-color: #2f9e41;
            padding: 30px;
            text-align:inherit;
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
        }
        .menu a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
            font-weight: bold;
        }
        .menu a:hover {
            text-decoration:underline;
        }
        .content {
            margin-top: 90px;
            padding: 20px;
            text-align: center;
            background-color:	#FFFFF0	;
        }
       
        .icon-grid {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 30px;
        }
        
        .icon-box {
            width: 200px;
            height: 200px;
            border: 2px solid #fbf7f5;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            cursor: pointer;
            border-radius: 20px;
            transition: background-color 0.3s, color 0.3s;
        }
        
        .icon-box:hover {
            background-color: #eee;
        }
        
        .icon-box.selected {
            background-color: #333;
            color: #fff;
        }

        .icon-box {
            width: 200px;
            height: 200px;
            border: 2px solid #fbf7f5;
            display: flex;
            flex-direction: column; /* Novidade */
            align-items: center;
            justify-content: center;
            font-size: 30px;
            cursor: pointer;
            border-radius: 20px;
            transition: background-color 0.3s, color 0.3s;
        }
        
        .icon-box p {
            margin-top: 10px;
            font-size: 16px;
            color: #333;
        }
        